[Desktop Entry]
Version=1.0
Type=Application
Name=SAStudio4
Comment=function for SAStudio
Exec=/usr/local/bin/sastudio/.sastudio.sh
Icon=/usr/share/icons/shortcut.png
Terminal=false
StartupNotify=true
X-KeepTerminal=false

